body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
}

#container {
     display: flex;
     flex-wrap: wrap;
}

.gridStyle {
     height: 16px;
     width: 16px;
     border: 2px solid black;
     box-sizing: border-box;
}
